@import './assets/styles/variables.scss';

body {
  padding-top: 100px; //для закрепления header всегда наверху

  @include customFont;

  max-width: 900px;
  margin: auto;
  // padding-left: 20%; надо ли?
  // padding-right: 20%;надо ли?
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(150, 143, 216, 0.21) 0%,
      rgb(129, 86, 146) 99%
    ),
    url('../src/assets/images/fon-iz-garri-pottera.png') no-repeat center top /
      cover;
}
