@import "../styles/variables.scss";



.header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  // background: rgb(158, 137, 137);
}

img {
  width: 40px;
  height: 40px;
}