@import "../styles/variables.scss";



.header {

  @include customFont;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px; //работает?

  padding-bottom: 40px;

  // background: rgb(158, 137, 137);
}

.logo {
  width: 70px;
  padding: 10px;
}

.header_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_buttons {
  display: flex;
  flex-direction: row;
  // justify-content: flex-end
}

.header_phrase {
  color: $customLightTextColor;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;

}