@import '../styles/variables.scss';

.header {
  @include customFont;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px; //работает?

  padding-bottom: 40px;

  // background: rgb(158, 137, 137);
}

.logo {
  width: 70px;
  padding: 10px;
}

.header_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  // justify-content: flex-end;
  button {
    cursor: pointer;
    border-radius: 5px;
    color: rgb(49, 9, 87);
    background-color: $customLightTextColor;
  }
}

.header_phrase {
  color: $customLightTextColor;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
}
