@import '../styles/variables.scss';

.tableRow_actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  border: none;
}
// input {
//   width: 100%;
//   border: 1px solid #685096;
//   border-radius: 5px;
//   // background-color: $l;
//   outline: none;
//   text-align: left;
// }

.inputTableRow {
  // width: 100%;
  width: 100px;
  border: 1px solid #685096;
  border-radius: 5px;
  // background-color: $l;
  outline: none;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.redInputTableRow {
  border: 2px solid red;
}
