@import '../styles/variables.scss';

// .tableRow {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }
.tableRowEdit_input {
  text-align: left; //не срабатывает
}

.tableRow_actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
